<!-- head -->
<div class="nav_daohang">
    <div class="nav_1"><a href="#">营销系统</a></div>
    <div class="nav_content">
        <a ui-sref-active="active" ui-sref="fightPurchase">拼购</a>
        <a ui-sref-active="active" ui-sref="optproduct">优品</a>
        <a ui-sref-active="active" ui-sref="nothing">云说</a>
        <a ui-sref-active="active" ui-sref="nothing">抢购</a>
        <a ui-sref-active="active" ui-sref="nothing">优惠券</a>
    </div>
    <div class="nav_2">
        <img ng-src="assets/images/PCimg/icon_sb.jpg">
		<span>
			好运妹一号<small></small>
		</span>
        <img class="dsj" ng-src="assets/images/dsj.png">
        <ul class="nav_shezhi">
            <li><a href="#"><img ng-src="assets/images/shezhi.png">设置</a></li>
            <li><a href="#"><img ng-src="assets/images/zhuye.png">主页</a></li>
            <li><a href="#"><img ng-src="assets/images/tuichu.png">退出</a></li>
        </ul>
    </div>
    <div class="nav_clear"></div>
</div>
<!--end head -->