<!DOCTYPE HTML PUBLIC "-//W3C//Dth HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dth">
<html lang="en">
<head>
<meta charset="utf-8" />
<title>订单详情</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="css/ace.min.css" />
<link rel="stylesheet" href="css/pg_dingdan.css" />
<link rel="stylesheet" href="css/style.css" />
<!-- <link rel="stylesheet" href="css/ace-rtl.min.css" /> -->
<link rel="stylesheet" href="css/zz.css" />
<!--[if lte IE 8]>
  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
<![endif]-->

<!--[if lt IE 9]>
<script src="assets/js/html5shiv.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
<style>
	.col-sm-1,.col-sm-10,.col-sm-3.col-sm-9{padding-right: 0;}
	.col-sm-3,.col-sm-9{padding-left: 0;}
	
</style>

</head>

<body>
<!-- head -->
<div class="nav_daohang">
	<div class="nav_1"><a href="#">营销系统</a></div>
	<div class="nav_content">
		<a class="a_active" href="pg_setwenan.html">拼购</a>
		<a href="youpin_bgo.html">优品</a>
		<a href="yunshuo_bgo.html">云说</a>
		<a href="#">抢购</a>
		<a href="youhuiquan_bgo.html">优惠券</a>
	</div>
	<div class="nav_2">
		<img src="images/PCimg/icon_sb.jpg">
		<span>
			好运妹一号<small></small>
		</span>
		<img class="dsj" src="images/dsj.png">
		<ul class="nav_shezhi">
			<li><a href="#"><img src="images/shezhi.png">设置</a></li>
			<li><a href="#"><img src="images/zhuye.png">主页</a></li>
			<li><a href="#"><img src="images/tuichu.png">退出</a></li>
		</ul>
	</div>
	<div class="nav_clear"></div>
</div>
<!--end head -->

<div class="main-container min__width" id="main-container">
	<!--左侧菜单 Start-->
	<div class="main-container-inner">
		<!-- <a class="menu-toggler" id="menu-toggler" href="#">
			<span class="menu-text"></span>
		</a> -->

	<div class="sidebar" id="sidebar">
			<ul class="nav nav-list">
				<li>
					<a href="pg_setwenan.html" class="dropdown-toggle">
						<i class="icon-dashboard"></i>
						<span class="menu-text"> 文案设置 </span>
					</a>
				</li>
				<li>
					<a href="pg_shangpin.html">
						<i class="icon-text-width"></i>
						<span class="menu-text"> 商品管理 </span>
					</a>
				</li>

				<li>
					<a href="pg_dingdan.html" class="dropdown-toggle">
						<i class="icon-desktop"></i>
						<span class="menu-text"> 拼购订单 </span>
					</a>
				</li>
				<li>
					<a href="pg_tuikuantongji.html" class="dropdown-toggle">
						<i class="icon-desktop"></i>
						<span class="menu-text"> 退款统计 </span>
					</a>
				</li>
				<li class="">
					<a href="#">
						<i class="icon-dashboard"></i>
						<span class="menu-text"> 数据统计 </span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!--左侧菜单 End-->

	<div class="main-content min_width">
			<div class="breadcrumbs" id="breadcrumbs">
				<!-- <script type="text/javascript">
					try {
						ace.settings.check('breadcrumbs', 'fixed')
					} catch (e) {}
				</script>
				 -->
				 <div class="nav_suoyin">
					<span>
						<i class=""></i>
						<a href="#" class="cleardecor">拼购</a>
					</span>
						>
					<span>
						<a href="pg_dingdan.html" class="cleardecor">拼购订单</a>
					</span>
						>
					<span>订单详情</span>
				</div>
				<!-- .breadcrumb -->
			 </div>
			<div class="shangpin_content">
				<!-- 右侧顶部内容 -->
				<p class="pingou_title">订单信息</p>
				<ul class="dingdan_xinxi">
					<li>
						<p><span>团状态：</span> <span class="red_color">组团成功</span></p>
						<p><span>团单号：</span> <span>PG001</span></p>
					</li>
					<li>
						<p><span>订单商品：</span> <span>红茅烧52度纯釀</span></p>
						<p><span>类型：</span> <span>6人团</span></p>
					</li>
					<li>
						<p><span>成团价：</span> <span>78.00</span></p>
						<p><span>参团人数：</span> <span>6</span></p>
					</li>
					<li>
						<p><span>开团时间：</span> <span>2016-02-02 22:22:22</span></p>
						<p><span>成团时间：</span> <span>2016-02-02 22:22:22</span></p>
					</li>
				</ul>
				<!-- 右侧顶部内容 end-->
				<!-- 右侧主要内容 -->
				<p class="pingou_title">用户信息</p>
				<table class="table table-bordered">
					<thead>
						<th>下单时间</th>
						<th>用户昵称</th>
						<th>身份</th>
						<th>下单渠道</th>
						<th>实付金额</th>
						<th>免单</th>
						<th>分享次数</th>
						<th>订单状态</th>
						<th>收货地址</th>	
					</thead>
					<tbody class="dingdan_tbody">
							<tr>
								<td>2016-02-02 22:22:22</td>
								<td>abc</td>
								<td>团长</td>
								<td>微信</td>
								<td>78.00</td>
								<td><img src="images/hq1.png"></td>
								<td>12</td>
								<td><span class="blue_color">已付款</span></td>
								<td>刘德华 1356666666<br>中国香港屯门区</td>
								
							<tr>
							<tr>
								<td>2016-02-02 22:22:22</td>
								<td>abc</td>
								<td>团员</td>
								<td>客户端</td>
								<td>78.00</td>
								<td>&nbsp;</td>
								<td>12</td>
								<td>待付款</td>
								<td>刘德华 1356666666<br>中国香港屯门区</td>
							<tr>
					</tbody>
				</table>
				<!-- 右侧主要内容 end -->
			</div>				
	</div>
</div>

		
		
		
<script src="js/jquery.min.js"></script>	
<script src="js/bootstrap.min.js"></script>

<!--[if lte IE 8]>
		  <script src="assets/js/excanvas.min.js"></script>
		<![endif]-->

<script type="text/javascript">
$(function(){
	//弹出个人菜单
	$('.nav_2').bind('click',function(e){
		$('.nav_shezhi').toggle();
		e.stopPropagation();//阻止点击事件冒泡到document
	});
	$(document).bind('click',function(){
		$('.nav_shezhi').hide();
	});
})
</script>

	</body>

</html>