<!DOCTYPE HTML PUBLIC "-//W3C//Dth HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dth">
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>优惠券使用说明</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/ace.min.css" />
	<link rel="stylesheet" href="css/pg_shangpin.css" />
	<link rel="stylesheet" href="css/style.css" />
	<!-- <link rel="stylesheet" href="css/ace-rtl.min.css" />-->
	<link rel="stylesheet" href="css/zz.css" />
	<link rel="stylesheet" href="css/youhuiquan.css" />
	<link rel="stylesheet" type="text/css" href="css/contact.css">
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="assets/css/ace-ie.min.css" />
	<![endif]-->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<!-- head -->
	<div class="nav_daohang">
		<div class="nav_1">
			<a href="#">营销系统</a>
		</div>
		<div class="nav_content">
			<a class="a_active" href="pg_setwenan.html">拼购</a>
			<a href="youpin_bgo.html">优品</a>
			<a href="yunshuo_bgo.html">云说</a>
			<a href="#">抢购</a>
			<a href="youhuiquan_bgo.html">优惠券</a>
		</div>
		<div class="nav_2">
			<img src="images/PCimg/icon_sb.jpg">
			<span>
				好运妹一号
				<small></small>
			</span>
			<img class="dsj" src="images/dsj.png">
			<ul class="nav_shezhi">
				<li>
					<a href="#">
						<img src="images/shezhi.png">设置</a>
				</li>
				<li>
					<a href="#">
						<img src="images/zhuye.png">主页</a>
				</li>
				<li>
					<a href="#">
						<img src="images/tuichu.png">退出</a>
				</li>
			</ul>
		</div>
		<div class="nav_clear"></div>
	</div>
	<!--end head -->
	<div class="main-container min__width" id="main-container">
		<!--左侧菜单 Start-->
		<div class="main-container-inner">
			<!-- <a class="menu-toggler" id="menu-toggler" href="#">
			<span class="menu-text"></span>
		</a>
		-->
		<div class="sidebar" id="sidebar"><!-- zca_active为选中样式 -->
			<ul class="nav nav-list">
				<li>
					<a href="youhuiquan_bgo.html" class="dropdown-toggle">
						<i class="icon-cogs"></i>
						<span class="menu-text"> 券包管理 </span>
					</a>
				</li>
				<li>
					<a href="register_give.html" class="dropdown-toggle"> <i class="icon-tag"></i>
						<span class="menu-text">注册送券</span>
					</a>
				</li>
				<li>
					<a href="buy_give.html" class="dropdown-toggle"> <i class="icon-tags"></i>
						<span class="menu-text">购物送券</span>
					</a>
				</li>
				<li>
					<a href="youhuiquan_hezuo.html" class="dropdown-toggle"> <i class="icon-tasks"></i>
						<span class="menu-text">渠道合作</span>
					</a>
				</li>
				<li>
					<a href="expository.html" class="dropdown-toggle zca_active"> <i class="icon-bullhorn"></i>
						<span class="menu-text">优惠券使用说明</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!--左侧菜单 End-->

	<div class="main-content min_width">
		<div class="breadcrumbs" id="breadcrumbs">
		<div class="nav_suoyin">
			<span>
				<a href="javascript:void(0)" class="cleardecor">优惠券</a>
			</span>
			>
			<span>
				<a href="expository.html" class="cleardecor">优惠券使用说明</a>
			</span>
		</div>
	</div>
	<div class="shangpin_content">
		<!-- 右侧顶部内容 -->
		<P class="shangpin_select hz_form_title">优惠券使用说明：</P>
		<div class="edtir"></div>
		<p class="edtir_save"><input type="button" name="" class="hz_btn" value="保存"></p>
		<!-- 右侧顶部内容 end-->
	</div>
</div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/excanvas.min.js"></script>
<![endif]-->
</body>
</html>