<!DOCTYPE HTML PUBLIC "-//W3C//Dth HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dth">
<html lang="en">
<head>
<meta charset="utf-8" />
<title>拼购订单</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="css/ace.min.css" />
<link rel="stylesheet" href="css/pg_dingdan.css" />
<link rel="stylesheet" href="css/style.css" />
<!-- <link rel="stylesheet" href="css/ace-rtl.min.css" /> -->
<link rel="stylesheet" href="css/zz.css" />
<!--[if lte IE 8]>
  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
<![endif]-->

<!--[if lt IE 9]>
<script src="assets/js/html5shiv.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
<style>
	.col-sm-1,.col-sm-10,.col-sm-3.col-sm-9{padding-right: 0;}
	.col-sm-3,.col-sm-9{padding-left: 0;}
	
</style>

</head>

<body>
<!-- head -->
<div class="nav_daohang">
	<div class="nav_1"><a href="#">营销系统</a></div>
	<div class="nav_content">
		<a class="a_active" href="pg_setwenan.html">拼购</a>
		<a href="youpin_bgo.html">优品</a>
		<a href="yunshuo_bgo.html">云说</a>
		<a href="#">抢购</a>
		<a href="youhuiquan_bgo.html">优惠券</a>
	</div>
	<div class="nav_2">
		<img src="images/PCimg/icon_sb.jpg">
		<span>
			好运妹一号<small></small>
		</span>
		<img class="dsj" src="images/dsj.png">
		<ul class="nav_shezhi">
			<li><a href="#"><img src="images/shezhi.png">设置</a></li>
			<li><a href="#"><img src="images/zhuye.png">主页</a></li>
			<li><a href="#"><img src="images/tuichu.png">退出</a></li>
		</ul>
	</div>
	<div class="nav_clear"></div>
</div>
<!--end head -->

<div class="main-container min__width" id="main-container">
	<!--左侧菜单 Start-->
	<div class="main-container-inner">
		<!-- <a class="menu-toggler" id="menu-toggler" href="#">
			<span class="menu-text"></span>
		</a> -->

		<div class="sidebar" id="sidebar">
			<ul class="nav nav-list">
				<li>
					<a href="pg_setwenan.html" class="dropdown-toggle">
						<i class="icon-dashboard"></i>
						<span class="menu-text"> 文案设置 </span>
					</a>
				</li>
				<li>
					<a href="pg_shangpin.html">
						<i class="icon-text-width"></i>
						<span class="menu-text"> 商品管理 </span>
					</a>
				</li>

				<li>
					<a href="pg_dingdan.html" class="dropdown-toggle">
						<i class="icon-desktop"></i>
						<span class="menu-text"> 拼购订单 </span>
					</a>
				</li>
				<li>
					<a href="pg_tuikuantongji.html" class="dropdown-toggle">
						<i class="icon-desktop"></i>
						<span class="menu-text"> 退款统计 </span>
					</a>
				</li>
				<li class="">
					<a href="#">
						<i class="icon-dashboard"></i>
						<span class="menu-text"> 数据统计 </span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!--左侧菜单 End-->

	<div class="main-content min_width">
			<div class="breadcrumbs" id="breadcrumbs">
				<!-- <script type="text/javascript">
					try {
						ace.settings.check('breadcrumbs', 'fixed')
					} catch (e) {}
				</script>
				 -->
				  <div class="nav_suoyin">
					<span>
						<i class=""></i>
						<a href="#" class="cleardecor">拼购</a>
					</span>
						>
					<span>拼购订单</span>
				</div>
				
			 </div>
			<div class="shangpin_content">
				<!-- 右侧顶部内容 -->
				<p class="pingou_title">订单查询</p>
				<P class="dingdan_select">
					<span>
						<select>
							<option>查询商品</option>
							<option>查询订单</option>
						</select>
						<input type="text" placeholder="关键字">
					</span>
					<span>按状态：
								<select>
									<option>全部状态</option>
									<option>组团成功</option>
									<option>组团中</option>
									<option>代开团</option>
								</select></span>
					<span>按团类型：
								<select>
									<option>全部类型</option>
									<option>3人团</option>
									<option>6人团</option>
								</select></span>
					<input type="button" value="查询" class="td_btn">
				</P>
					<!-- 右侧顶部内容 end-->
				<!-- 右侧主要内容 -->
				<p class="pingou_title">订单列表</p>
				<table class="table table-bordered">
					<thead>
						<th>团单号</th>
						<th>开团时间</th>
						<th>成团时间</th>
						<th>商品名称</th>
						<th>成团价</th>
						<th>团类型</th>
						<th>团状态</th>
						<th>参团人数</th>
						<th>分享次数</th>
						<th>操作</th>
					</thead>
					<tbody>
							<tr>
								<td>PG001</td>
								<td>2016-02-02 22:22:22</td>
								<td>2016-02-02 22:22:22</td>
								<td>红毛烧52度纯醸</td>
								<td>78.00</td>
								<td>3人团</td>
								<td><span class="red_color">组团成功</span></td>
								<td>3</td>
								<td>12</td>
								<td><a href="dingdan_chenggong.html">查看</a></td>
							<tr>
							<tr>
								<td>PG001</td>
								<td>2016-02-02 22:22:22</td>
								<td>2016-02-02 22:22:22</td>
								<td>红毛烧52度纯醸</td>
								<td>78.00</td>
								<td>3人团</td>
								<td>组团失败</td>
								<td>3</td>
								<td>12</td>
								<td><a href="dingdan_feichenggong.html">查看</a></td>
							<tr>
							<tr>
								<td>PG001</td>
								<td>2016-02-02 22:22:22</td>
								<td>2016-02-02 22:22:22</td>
								<td>红毛烧52度纯醸</td>
								<td>78.00</td>
								<td>3人团</td>
								<td><span class="green_color">组团中</span></td>
								<td>3</td>
								<td>12</td>
								<td><a href="dingdan_feichenggong.html">查看</a></td>
							<tr>
							<tr>
								<td>PG001</td>
								<td>-</td>
								<td>-</td>
								<td>红毛烧52度纯醸</td>
								<td>78.00</td>
								<td>3人团</td>
								<td>待开团</td>
								<td>-</td>
								<td>-</td>
								<td><a href="dingdan_feichenggong.html">查看</a></td>
							<tr>
							<tr>
								<td>PG001</td>
								<td>-</td>
								<td>-</td>
								<td>红毛烧52度纯醸</td>
								<td>78.00</td>
								<td>3人团</td>
								<td>开团失败</td>
								<td>-</td>
								<td>-</td>
								<td><a href="dingdan_feichenggong.html">查看</a></td>
							<tr>
						 
					</tbody>
				</table>
				<!-- 右侧主要内容 end -->
				<!-- 右侧底部内容 -->
				<div class="dingdan_bottom dingdan_bottom_suoyin">
						<!-- 结构索引 -->
							<ul class="pagination ">
									<li class="disabled">
										<a href="#">
											《
										</a>
									</li>
									<li class="active">
										<a href="#">1</a>
									</li>

									<li>
										<a href="#">2</a>
									</li>

									<li>
										<a href="#">3</a>
									</li>

									<li>
										<a href="#">4</a>
									</li>

									<li>
										<a href="#">5</a>
									</li>

									<li>
										<a href="#">
											》
										</a>
									</li>
							</ul>
					<!-- 结构索引 end-->
				</div>
				<!-- 右侧底部内容结束 -->
			</div>				
	</div>
</div>

		
		
		
<script src="js/jquery.min.js"></script>	
<script src="js/bootstrap.min.js"></script>

<!--[if lte IE 8]>
		  <script src="assets/js/excanvas.min.js"></script>
		<![endif]-->

<script type="text/javascript">
$(function(){
	//弹出个人菜单
	$('.nav_2').bind('click',function(e){
		$('.nav_shezhi').toggle();
		e.stopPropagation();//阻止点击事件冒泡到document
	});
	$(document).bind('click',function(){
		$('.nav_shezhi').hide();
	});
})
</script>

	</body>

</html>