<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<meta charset="utf-8" />
<title>分享模板</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="css/ace.min.css" />
<link rel="stylesheet" href="css/pg_fxmuban.css" />
<link rel="stylesheet" href="css/style.css" />
<!-- <link rel="stylesheet" href="css/ace-rtl.min.css" /> -->
<link rel="stylesheet" href="css/zz.css" />
<!--[if lte IE 8]>
  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
<![endif]-->

<!--[if lt IE 9]>
<script src="assets/js/html5shiv.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
<style>
	.col-sm-1,.col-sm-10,.col-sm-3.col-sm-9{padding-right: 0;}
	.col-sm-3,.col-sm-9{padding-left: 0;}
	
</style>

</head>

<body>
		<!--head Start-->
<div class="navbar navbar-default min__width" id="navbar">
	<div class="navbar-container" id="navbar-container">
		<div class="navbar-header pull-left">
			<a href="#" class="navbar-brand">
				<small>							
					好云淘拼购中心
				</small>
			</a>
		</div>

		<div class="navbar-header pull-right" role="navigation">
			<ul class="nav ace-nav">
				<li class="light-blue">
					<a data-toggle="dropdown" href="#" class="dropdown-toggle">
						<img class="nav-user-photo" src="images/PCimg/b_p01.jpg" alt="Jason's Photo" />
						<span class="user-info">
							<small>Welcome,</small>
							Jason
						</span>
						<i class="icon-caret-down"></i>
					</a>
					<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close ">
						<li>
							<a href="#">
								<i class="icon-cog"></i> 设置
							</a>
						</li>

						<li>
							<a href="#">
								<i class="icon-user"></i> 主页
							</a>
						</li>

						<li class="divider"></li>

						<li>
							<a href="#">
								<i class="icon-off"></i> 退出
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--head End-->

<div class="main-container min__width" id="main-container">
	<!--左侧菜单 Start-->
	<div class="main-container-inner">
		<!-- <a class="menu-toggler" id="menu-toggler" href="#">
			<span class="menu-text"></span>
		</a> -->

		<div class="sidebar" id="sidebar">
			<ul class="nav nav-list">
				<li>
					<a href="pg_setwenan.html" class="dropdown-toggle">
						<i class="icon-dashboard"></i>
						<span class="menu-text"> 文案设置 </span>
					</a>
				</li>
				<li>
					<a href="pg_shangpin.html">
						<i class="icon-text-width"></i>
						<span class="menu-text"> 商品管理 </span>
					</a>
				</li>

				<li>
					<a href="pg_dingdan.html" class="dropdown-toggle">
						<i class="icon-desktop"></i>
						<span class="menu-text"> 拼购订单 </span>
					</a>
				</li>
				<li>
					<a href="pg_tuikuantongji.html" class="dropdown-toggle">
						<i class="icon-desktop"></i>
						<span class="menu-text"> 退款统计 </span>
					</a>
				</li>
				<li class="">
					<a href="#">
						<i class="icon-dashboard"></i>
						<span class="menu-text"> 数据统计 </span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!--左侧菜单 End-->

	<div class="main-content min_width">
			<div class="breadcrumbs" id="breadcrumbs">
				<!-- <script type="text/javascript">
					try {
						ace.settings.check('breadcrumbs', 'fixed')
					} catch (e) {}
				</script>
				 -->
				<ul class="breadcrumb">
					<li>
						<i class="icon-home home-icon"></i>
						<a href="#" class="cleardecor">拼购</a>
					</li>

					<li class="active">分享模板</li>
				</ul>
				<!-- .breadcrumb -->
			 </div>
			 <!-- 右侧主要内容 -->
			<div class="muban_content">
				<form action="#" >
					<div class="muban_pingou">
						<p class="pingou_title">拼购功能分享</p>
						<p class="pingou_content">图片：<img src="images/img.png" alt="">尺寸:300 x 300 px</p>
						<p class="pingou_content">标题：<input type="text" placeholder="拼最大优惠的商品，享最高品质的生活"></p>
						<p class="pingou_content">描述：<input type="text" placeholder="来来来，大家一起拼单玩吧"></p>
					</div>
					<div class="muban_pingou">
						<p class="pingou_title">商品功能分享</p>
						<p class="pingou_content">图片：<img src="images/img.png" alt="">尺寸:300 x 300 px</p>
						<p class="pingou_content">标题：<input type="text" placeholder="拼最大优惠的商品，享最高品质的生活"></p>
						<p class="pingou_content">描述：<input type="text" placeholder="来来来，大家一起拼单玩吧"><span>商品副标题优先,如为空则启用此处内容</span></p>
					</div>
					<div class="muban_pingou">
						<p class="pingou_title">组团分享</p>
						<p class="pingou_content">图片：<img src="images/img.png" alt="">尺寸:300 x 300 px</p>
						<p class="pingou_content">标题：<input type="text" placeholder="拼最大优惠的商品，享最高品质的生活"></p>
						<p class="pingou_content">描述：<input type="text" placeholder="来来来，大家一起拼单玩吧"><span>默认前缀为"差x人"</span></p>
					</div>
					<input type="submit" value="保存" class="td_btn button">
				</form>
			</div>		
			 <!-- 右侧主要内容 end-->		
	</div>
</div>

		
		
		
<script src="js/jquery.min.js"></script>	
<script src="js/bootstrap.min.js"></script>

<!--[if lte IE 8]>
		  <script src="assets/js/excanvas.min.js"></script>
		<![endif]-->

<script type="text/javascript">
$(function(){
	
})
</script>

	</body>

</html>