<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<meta charset="utf-8" />
<title>文案设置</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="css/ace.min.css" />
<link rel="stylesheet" href="css/pg_wenan.css" />
<link rel="stylesheet" href="css/style.css" />
<!-- <link rel="stylesheet" href="css/ace-rtl.min.css" /> -->
<link rel="stylesheet" href="css/zz.css" />
<!--[if lte IE 8]>
  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
<![endif]-->

<!--[if lt IE 9]>
<script src="assets/js/html5shiv.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
<style>
	.col-sm-1,.col-sm-10,.col-sm-3.col-sm-9{padding-right: 0;}
	.col-sm-3,.col-sm-9{padding-left: 0;}
	
</style>

</head>

<body>
<!-- head -->
<div class="nav_daohang">
	<div class="nav_1"><a href="#">营销系统</a></div>
	<div class="nav_content">
		<a class="a_active" href="pg_setwenan.html">拼购</a>
		<a href="youpin_bgo.html">优品</a>
		<a href="yunshuo_bgo.html">云说</a>
		<a href="#">抢购</a>
		<a href="youhuiquan_bgo.html">优惠券</a>
	</div>
	<div class="nav_2">
		<img src="images/PCimg/icon_sb.jpg">
		<span>
			好运妹一号<small></small>
		</span>
		<img class="dsj" src="images/dsj.png">
		<ul class="nav_shezhi">
			<li><a href="#"><img src="images/shezhi.png">设置</a></li>
			<li><a href="#"><img src="images/zhuye.png">主页</a></li>
			<li><a href="#"><img src="images/tuichu.png">退出</a></li>
		</ul>
	</div>
	<div class="nav_clear"></div>
</div>
<!--end head -->
<div class="main-container min__width" id="main-container">
	<!--左侧菜单 Start-->
	<div class="main-container-inner">
		<!-- <a class="menu-toggler" id="menu-toggler" href="#">
			<span class="menu-text"></span>
		</a> -->

		<div class="sidebar" id="sidebar">
			<ul class="nav nav-list">
				<li>
					<a href="pg_setwenan.html" class="dropdown-toggle">
						<i class="icon-dashboard"></i>
						<span class="menu-text"> 文案设置 </span>
					</a>
				</li>
				<li>
					<a href="pg_shangpin.html">
						<i class="icon-text-width"></i>
						<span class="menu-text"> 商品管理 </span>
					</a>
				</li>

				<li>
					<a href="pg_dingdan.html" class="dropdown-toggle">
						<i class="icon-desktop"></i>
						<span class="menu-text"> 拼购订单 </span>
					</a>
				</li>
				<li>
					<a href="pg_tuikuantongji.html" class="dropdown-toggle">
						<i class="icon-desktop"></i>
						<span class="menu-text"> 退款统计 </span>
					</a>
				</li>
				<li class="">
					<a href="#">
						<i class="icon-dashboard"></i>
						<span class="menu-text"> 数据统计 </span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!--左侧菜单 End-->

	<div class="main-content min_width">
			<div class="breadcrumbs" id="breadcrumbs">
				<!-- <script type="text/javascript">
					try {
						ace.settings.check('breadcrumbs', 'fixed')
					} catch (e) {}
				</script>
				 -->
				 <div class="nav_suoyin">
					<span>
						<i class=""></i>
						<a href="#" class="cleardecor">拼购</a>
					</span>
						>
					<span>文案设置</span>
				</div>
				<!-- .breadcrumb -->
			 </div>
			 <!-- 右侧主要内容 -->
			<div class="wenan_content">
				<form action="#">
					<table class=" table-hover">
						<tbody>
							<tr>
								<td class="text-right td_font">组团提示中：</td>
								<td class="td_width"><input type="text" placeholder="最多支持20个字"></td>
								<td class="td_font text-left">默认前缀为“还差x人”</td>
							</tr>
							<tr>
								<td class="text-right td_font">组团成功提示中：</td>
								<td class="td_width"><input type="text" placeholder="最多支持20个字"></td>
								<td class="td_font text-left">用户拼购详情页提示团当前状态</td>
							</tr>
							<tr>
								<td class="text-right td_font">组团失败提示中：</td>
								<td class="td_width"><input type="text" placeholder="最多支持20个字"></td>
								<td class="td_font text-left">用户拼购详情页提示团当前状态</td>
							</tr>
							<tr>
								<td class="">&nbsp;</td>
								<td><input type="submit" value="保存" class="td_btn"></td>
								<td>&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>	
			 <!-- 右侧主要内容 end-->			
	</div>
</div>

		
		
		
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<!--[if lte IE 8]>
		  <script src="assets/js/excanvas.min.js"></script>
		<![endif]-->

<script type="text/javascript">
$(function(){
	//弹出个人菜单
	$('.nav_2').bind('click',function(e){
		$('.nav_shezhi').toggle();
		e.stopPropagation();//阻止点击事件冒泡到document
	});
	$(document).bind('click',function(){
		$('.nav_shezhi').hide();
	});
	
})
</script>

	</body>

</html>
