<!DOCTYPE HTML PUBLIC "-//W3C//Dth HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dth">
<html lang="en">
<head>
<meta charset="utf-8" />
<title>营销系统首页</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="css/ace.min.css" />
<link rel="stylesheet" href="css/yingxiao.css" />
<link rel="stylesheet" href="css/style.css" />
<!-- <link rel="stylesheet" href="css/ace-rtl.min.css" /> -->
<link rel="stylesheet" href="css/zz.css" />
<!--[if lte IE 8]>
  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
<![endif]-->

<!--[if lt IE 9]>
<script src="assets/js/html5shiv.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
<style>
	
</style>
</head>

<body>
	<div class="container content">
		<div class="icon"><img src="images/hyt_logo.png"></div>
		<p class="p_wenben">
			营销系统
		</p>
		<div class="div_btn">
			<a href="#">拼购</a>
			<a href="#">抢购</a>
			<a href="#">优品</a>
			<a href="#">云说</a>
			<a href="#">优惠券</a>
		</div>
	</div>
	
<script src="js/jquery.min.js"></script>	
<script src="js/bootstrap.min.js"></script>

<!--[if lte IE 8]>
		  <script src="assets/js/excanvas.min.js"></script>
		<![endif]-->

<script type="text/javascript">

</script>

	</body>

</html>