<!DOCTYPE HTML PUBLIC "-//W3C//Dth HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dth">
<html lang="en">
<head>
<meta charset="utf-8" />
<title>优品管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="css/ace.min.css" />
<link rel="stylesheet" href="css/pg_shangpin.css" />
<link rel="stylesheet" href="css/style.css" />
<!-- <link rel="stylesheet" href="css/ace-rtl.min.css" /> -->
<link rel="stylesheet" href="css/zz.css" />
<link rel="stylesheet" href="css/youhuiquan.css" />
<!--[if lte IE 8]>
  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
<![endif]-->

<!--[if lt IE 9]>
<script src="assets/js/html5shiv.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<!-- head -->
<div class="nav_daohang">
	<div class="nav_1"><a href="#">营销系统</a></div>
	<div class="nav_content">
		<a class="a_active" href="pg_setwenan.html">拼购</a>
		<a href="youpin_bgo.html">优品</a>
		<a href="yunshuo_bgo.html">云说</a>
		<a href="#">抢购</a>
		<a href="youhuiquan_bgo.html">优惠券</a>
	</div>
	<div class="nav_2">
		<img src="images/PCimg/icon_sb.jpg">
		<span>
			好运妹一号<small></small>
		</span>
		<img class="dsj" src="images/dsj.png">
		<ul class="nav_shezhi">
			<li><a href="#"><img src="images/shezhi.png">设置</a></li>
			<li><a href="#"><img src="images/zhuye.png">主页</a></li>
			<li><a href="#"><img src="images/tuichu.png">退出</a></li>
		</ul>
	</div>
	<div class="nav_clear"></div>
</div>
<!--end head -->

<div class="main-container min__width" id="main-container">
	<!--左侧菜单 Start-->
	<div class="main-container-inner">
		<!-- <a class="menu-toggler" id="menu-toggler" href="#">
			<span class="menu-text"></span>
		</a> -->
	<div class="sidebar" id="sidebar">
			<ul class="nav nav-list">
				<li>
					<a href="youpin_bgo.html" class="dropdown-toggle">
						<i class="icon-dashboard"></i>
						<span class="menu-text"> 优品管理 </span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!--左侧菜单 End-->

	<div class="main-content min_width">
			<div class="breadcrumbs" id="breadcrumbs">
				<!-- <script type="text/javascript">
					try {
						ace.settings.check('breadcrumbs', 'fixed')
					} catch (e) {}
				</script>
				 -->
				 <div class="nav_suoyin">
					<span>
						<i class=""></i>
						<a href="javascript:void(0)" class="cleardecor">优品</a>
					</span>
						>
					<span>
						<i class=""></i>
						<a href="youpin_bgo.html" class="cleardecor">优品管理</a>
					</span>
				</div>
			 </div>
			<div class="shangpin_content">
				<!-- 右侧顶部内容 -->
				<a href="youpin_content.html" class="add_shangpin">新增优品</a>
				<p class="pingou_title">优品查询</p>
				<P class="shangpin_select">
					<span><input type="text" placeholder="优品关键字"></span>
					<input type="button" value="查询" class="td_btn">
				</P>
					<!-- 右侧顶部内容 end-->
				<!-- 右侧主要内容 -->
				<p class="pingou_title">优品列表</p>
				<div class="shangpin_tishi">
					查找的商品没找到，请重新查找！
				</div>
				<table class="table table-bordered">
					<thead>
						<th>排序</th>
						<th>名称</th>
						<th>添加时间</th>
						<th>操作</th>
					</thead>
					<tbody>
							<tr>
								<td><input type="text" value="1" name="td_id"></td>
								<td>红毛烧52度纯醸</td>
								<td>2016-02-02 22:22:22</td>
								<td>
									<a href="#" class=" ">编辑&nbsp;|</a>
									<a href="javascript:void(0)" class="sc_btn">删除</a>
								</td>
							<tr>
							<tr>
								<td><input type="text" value="2" name="td_id"></td>
								<td>红毛烧52度纯醸</td>
								<td>2016-02-02 22:22:22</td>
								<td>
									<a href="#" class=" ">编辑&nbsp;|</a>
									<a href="javascript:void(0)" class="sc_btn">删除</a>
								</td>
							<tr>
							<tr>
								<td><input type="text" value="3" name="td_id"></td>
								<td>红毛烧52度纯醸</td>
								<td>2016-02-02 22:22:22</td>
								<td>
									<a href="#" class=" ">编辑&nbsp;|</a>
									<a href="javascript:void(0)" class="sc_btn">删除</a>
								</td>
							<tr>
							<tr>
								<td><input type="text" value="4" name="td_id"></td>
								<td>红毛烧52度纯醸</td>
								<td>2016-02-02 22:22:22</td>
								<td>
									<a href="#" class=" ">编辑&nbsp;|</a>
									<a href="javascript:void(0)" class="sc_btn">删除</a>
								</td>
							<tr>
							<tr>
								<td><input type="text" value="5" name="td_id"></td>
								<td>红毛烧52度纯醸</td>
								<td>2016-02-02 22:22:22</td>
								<td>
									<a href="#" class=" ">编辑&nbsp;|</a>
									<a href="javascript:void(0)" class="sc_btn">删除</a>
								</td>
							<tr>
					</tbody>
				</table>
				<!-- 右侧主要内容 end -->
				<!-- 右侧底部内容 -->
				<div class="shangpin_bottom">
					<div class="bottom_right dingdan_bottom_suoyin">
						<!-- 结构索引 -->
							<ul class="pagination">
									<li class="disabled">
										<a href="#">
											《
										</a>
									</li>
									<li class="active">
										<a href="#">1</a>
									</li>

									<li>
										<a href="#">2</a>
									</li>

									<li>
										<a href="#">3</a>
									</li>

									<li>
										<a href="#">4</a>
									</li>

									<li>
										<a href="#">5</a>
									</li>

									<li>
										<a href="#">
											》
										</a>
									</li>
							</ul>
					<!-- 结构索引 end-->
					</div>
				</div>
				<!-- 右侧底部内容结束 -->
			</div>				
	</div>
</div>
<!-- 删除提示模态窗口 -->
    <div class="modal fade" id="scqrmodal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content ljff_max_width">
                <div class="modal-body">
                    <div class="panel-body text-center">
                        确定要删除此记录吗？
                    </div>
                </div>
                <div class="modal-footer modal_dibu">
                    <button type="button" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-default sc_quxiao">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- 删除提示模态窗口 end-->
		
		
		
<script src="js/jquery.min.js"></script>	
<script src="js/bootstrap.js"></script>

<!--[if lte IE 8]>
		  <script src="assets/js/excanvas.min.js"></script>
		<![endif]-->

<script type="text/javascript">
	$(function(){
		$('.sc_btn').click(function(){
                $('#scqrmodal').modal();
        });
		$('.sc_quxiao').click(function(){
				$('#scqrmodal').modal('hide');
		});
	});
			
</script>

	</body>

</html>